@{
    ViewBag.Title = "About";
}
<div class="col-md-12 bg-blue">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="col-md-12 page-content">
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>